node_modules
.env
server/.env
client/.env
client/node_modules
server/node_modules
client/dist
backend/node_modules
frontend/node_modules
frontend/dist
backend/uploads/*
!backend/uploads/.gitkeep
.DS_Store
npm-debug.log*
netlify.toml